table {
	empty-cell: show;
	width:100%;
	height:100%;
  margin: 0 0 0 0;
	padding: 0 0 0 0;
	vertical-align: bottom;
	font-size:12pt;
}
table td {	
	text-align: center;
	vertical-align: bottom;
	margin: 0 0 0 0;
	padding: 0 5 0 5;
}
table tr {	
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.active{
	background-color: YELLOW;

}

.pre{
	text-decoration: none;
		color: black;
}

.post{
	text-decoration: none;
	color: black;
}

.vf{
	text-decoration: none;
	color: black;
	background-color: rgb(200,200,200);
}

.impl{
	text-decoration: none;
	color: black;
}

.desc{
	text-align: left;
}


.leaf{
  border-style: inset;
}
